/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container */
.container {
    display: flex;
    margin: 0 200px;
    justify-content: center;
}

/* List point removal */
ul{
    list-style-type: none;
}

/* HEADER */

/* header */
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

/* Nav bar */
nav{
    align-items: center;
}

/* general properties for header items */
.logo,
.login,
.link {
    margin: 20px 0;
    padding: 7px;
}

/* logo and login shared properties */
.logo,
.login {
    width: 20%;
}

/* link */
.link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 60%;
}

/* login */
.login {
    text-align: end;
}

/* Login Button */
.login > button {
    font-size: 20px;
    width: 100px;
    padding: 10px;
    border-radius: 30px;
}

/* Link list */
.link-list{
    display: flex;
    justify-content: space-between;
    color: white;
}

/* decoration of nav bar */
li > a{
    color: inherit;
    text-decoration: none;
}

/* Content in header */
.header-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px auto;
    height: 500px;
}

/* common properties of title and content in header box */
.header-content {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

/* title header box */
.header-content > span{
    font-size: 50px;  
    margin: 60px;
    font-weight: bold;
}

/* content header box */
.header-content > p{
    font-size: 24px;
    margin: 30px;
    height: 30%
}

.header-content > div{
    height: 20%;
}

/* User choice */
.user-choice{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* common properties of download and browser */
.download, .browser{
    font-size: 20px;
    background-color: blue;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
}

/* download  */
.download{
    background-color: white;
    color: black;
}

/* browser */
.browser{
    background-color: black;
    color: white;
}

/* MAIN */

/* Section 1,2,3 */
/* common properties*/
.space-img, .space-content{
    height: 600px;
    margin: 30px 0;
}

/* image properties */
.space-img{
    display: flex;
    justify-content: center;
    width: 60%;
}

/* content properties */
.space-content{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.space-content > div{
    font-size: 50px;
    padding: 10px;
}

.space-content > p{
    font-size: 24px;
    padding: 10px;
}

/* Backgroung section 2 */
.bg-section2 {
    background-color: rgba(211, 211, 211, 1);
}

/* Backgroung section 4 */
.bg-section4 {
    height: 1000px;
    background-color: rgba(211, 211, 211, 1);
}

/* content properties in the section 4 */
.section-content{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.image-section{
    width: 1100px;
}

/* common properties */
.section-content > .title-section4, .paragraph{
    margin-top: 40px;
    font-weight: bold;
}

/* Text align in paragraph */
.paragraph{
    text-align: center;
}

/* stars background */
#stars{
    background-image: url(./img/stars.svg);
    padding: 20px;
}

/* Download button in section 4  */
.download-section > a{
    text-decoration: none;
    background-color: rgb(181, 130, 251);
    color: white;
    border-radius: 20px;
    padding: 10px;
}

/* Backgroung section 6 */
.bg-section6 {
    height: 620px;
    background-color: rgba(35, 39, 42, 1);
}

/* Text on top of the colum */
.column-top-text{
    font-size: 50px;
    color: rgb(181, 130, 251);
    font-weight: bold;
}

/* italian flag */
.flag{
    margin-top: 20px;
    height: 20px;
}

/* common properties of text and medias */
.col-medias, .col-medias-logo{
    color: white;
}

/* sitance from scroll bar to media logos */
.col-medias{
    margin-bottom: 20px;
}

.col-medias > span {
    font-size: 20px;
}

.col-medias-logo{
    display: flex;
    width: 60%;
    justify-content: space-between;
    font-size: 30px;
}

/* Social media column */
.language-social-media {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    width: 60%;
}

/* light sea green part of the box */
.discord-general-content{
    width: 40%;
    height: 580px;
    margin: 10px 0;
    padding: 30px;
}

.discord-general-content ul li:first-child{
    color: rgb(181, 130, 251);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.discord-general-content li{
    color: white;
    padding: 15px;
    font-weight: bold;
}

hr{
    height: 5px;
    margin: 0 200px;
    background-color: rgba(69, 81, 118, 1);
    border: none;
}

#wave1 {
    filter: invert(72%) sepia(0%) saturate(4941%) hue-rotate(288deg) brightness(109%) contrast(114%);
    display: block;
    width: 100vw;
    
}

#wave2 {
    filter: invert(72%) sepia(0%) saturate(4941%) hue-rotate(288deg) brightness(109%) contrast(114%);
    display: block;
    rotate: 180deg;
    width: 100vw;
}

/* footer */
footer {
    height: 120px;
    background-color: rgba(35, 39, 42, 1);
}

/* Box in footer */
.box-footer {
    width: 100%;
}

/* continer for button movement */
.button-movement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 0 0px;  
}

.button-movement > a {
    text-decoration: none;
    color: white;
    background-color: rgba(114, 137, 217, 1);
    padding: 10px;
    border-radius: 30px;
}