/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container */
.container {
    display: flex;
    margin: 0 200px;
    justify-content: center;
}

/* List point removal */
ul{
    list-style-type: none;
}

/* HEADER */

/* header */
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

/* Nav bar */
nav{
    align-items: center;
}

/* general properties for header items */
.logo,
.login,
.link {
    margin: 20px 0;
    padding: 7px;
}

/* logo and login shared properties */
.logo,
.login {
    width: 20%;
}

/* link */
.link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 60%;
}

/* login */
.login {
    text-align: end;
}

/* Login Button */
.login > button {
    font-size: 20px;
    width: 100px;
    padding: 10px;
    border-radius: 30px;
}

/* Link list */
.link-list{
    display: flex;
    justify-content: space-between;
    color: white;
}

/* decoration of nav bar */
li > a{
    color: inherit;
    text-decoration: none;
}

/* Content in header */
.header-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px auto;
    height: 500px;
}

/* common properties of title and content in header box */
.header-content {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

/* title header box */
.header-content > span{
    font-size: 50px;  
    margin: 60px;
    font-weight: bold;
}

/* content header box */
.header-content > p{
    font-size: 24px;
    margin: 30px;
    height: 30%
}

.header-content > div{
    height: 20%;
}

/* User choice */
.user-choice{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* common properties of download and browser */
.download, .browser{
    font-size: 20px;
    background-color: blue;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
}

/* download  */
.download{
    background-color: white;
    color: black;
}

/* browser */
.browser{
    background-color: black;
    color: white;
}

/* MAIN */

/* Backgroung section 1 */
/* Section 1,2,3 */
/* common properties*/
.space-img, .space-content{
    height: 600px;
    margin: 30px 0;
}

/* image properties */
.space-img{
    display: flex;
    justify-content: center;
    width: 60%;
}

/* content properties */
.space-content{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.space-content > div{
    font-size: 50px;
    padding: 10px;
}

.space-content > p{
    font-size: 24px;
    padding: 10px;
}

/* Backgroung section 2 */
.bg-section2 {
    background-color: rgba(211, 211, 211, 1);
}


#wave1 {
    filter: invert(72%) sepia(0%) saturate(4941%) hue-rotate(288deg) brightness(109%) contrast(114%);
    display: block;
    width: 100vw;
    
}

#wave2 {
    filter: invert(72%) sepia(0%) saturate(4941%) hue-rotate(288deg) brightness(109%) contrast(114%);
    display: block;
    rotate: 180deg;
    width: 100vw;
}

/* Section 2-3-4 shared height backgroung*/
.bg-section2, .bg-section3, .bg-section4 {
    height: 600px;
}

/* Section 2 shared box properties */
.blue-box,
.pink-box {
    height: 540px;
    margin: 30px 0;
    border: 2px dashed black;
}

/* blue part of the box */
.blue-box {
    width: 60%;
    background-color: rgba(30, 144, 255, 1);
}

/* pink part of the box */
.pink-box {
    width: 40%;
    background-color: rgba(255, 192, 203, 1);
}

/* Backgroung section 3 */
.bg-section3 {
    background-color: rgba(211, 211, 211, 1);
}

/* Backgroung section 5 */
.bg-section5 {
    height: 1000px;
    background-color: rgba(211, 211, 211, 1);
}

/* Box in section 5 */
.box-section5 {
    width: 100%;
    margin: 30px 0px;
    height: 940px;
    background-color: rgba(34, 139, 34, 1);
    border: 2px dashed black;
}

/* Backgroung section 6 */
.bg-section6 {
    height: 620px;
    background-color: rgba(35, 39, 42, 1);
}

/* light coral part of the box */
.light-coral-box {
    width: 60%;
    background-color: rgba(240, 128, 128, 1);
    height: 580px;
    margin: 10px 0;
    border: 2px dashed black;
}

/* light sea green part of the box */
.light-sea-green-box {
    width: 40%;
    background-color: rgba(32, 178, 170, 1);
    height: 580px;
    margin: 10px 0;
    border: 2px dashed white;
}

/* footer */
footer {
    margin-top: 2px;
    height: 120px;
    background-color: rgba(35, 39, 42, 1);
}

/* Box in footer */
.box-footer {
    width: 100%;
    background-color: rgba(127, 255, 212, 1);
    height: 80px;
    margin-top: 40px;
}

/* continer for button movement */
.button-movement {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 0 0px
}

/* buttons  */
.logo-btn,
.btn {
    background-color: rgba(255, 182, 193, 1);
    padding: 5px;
    border: 2px dashed black;
}